<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3 class="m-0">Driver List</h3>
        </mat-card-title>
    </mat-card-header>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <div class="mat-elevation-z8">

        <table position='sticky' mat-table matSort [dataSource]="driverDataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <!-- lastAudit Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="history">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> History </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.email"> {{calculateUncollected(row.history)}} </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="card_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Card Number </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.phone"> {{row.card_number}} </td>
            </ng-container>

            <!-- Account status Column -->
            <ng-container matColumnDef="account_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row" [style.color]="row.account_status"> {{row.account_status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr class="data" mat-row *matRowDef="let row; columns: columnsToDisplay;" [routerLink]="['/finance', row._id]"></tr>

        </table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
</mat-card>
<router-outlet></router-outlet>
