.alert-info,
.alert-danger,
.alert-warning,
.alert-success,
.alert-rose {
    color: #ffffff;
}

.alert,
.alert.alert-default {
    background-color: white;
    color: #555555;
}

.alert {
    border: 0;
    border-radius: 3px;
    position: relative;
    padding: 10px 15px;
    line-height: 20px;
    margin-bottom: 1rem;
}

.alert span {
    display: block;
    max-width: 89%;
    margin-top: 15px;
}

#alert-close {
    margin-bottom: 15px;
}

button.close {
    padding: 0 !important;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

/* DANGER */

.alert.alert-danger {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
}

.alert.alert-danger {
    background-color: #f55145;
    color: #ffffff;
}


/* INFO */

.alert.alert-info {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.alert.alert-info {
    background-color: #00cae3;
    color: #ffffff;
}


/* SUCCESS */

.alert.alert-success {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.alert.alert-success {
    background-color: #55b559;
    color: #ffffff;
}

/* WARNING*/

.alert.alert-warning {
    -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.alert.alert-warning {
    background-color: #ff9e0f;
    color: #ffffff;
}
